/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.custom-blue-text {
  color: #7892ae !important;
  font-family: 'ColtSoft' !important;
}

.custom-blue {
  background-color: #7892ae !important;
}

.custom-pink {
  background-color: #d8c4dc !important;
}

.custom-blue2 {
  background-color: #92b4df !important;
}

.custom-green {
  background-color: #b4c3c0 !important;
}




::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5; }
::-webkit-scrollbar { width: 10px; background-color: #F5F5F5; }
::-webkit-scrollbar-thumb { background-color: #7892ae; }
::-moz-selection { background: #7892ae; color: white; }
::selection { background: #7892ae; color: white; }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	background-color: #dbddea;
  }

  main {
    flex: 1 0 auto;
  }
  
nav a {
    color: #111;
}
nav ul a {
	color: #111;
}